<div>
  <button ngxToggleFullscreen>Fullscreen? {{ screenService.fullScreenActive$ | async }}</button>
  <button (click)="screenService.request()">Request</button>
  <button (click)="screenService.exit()">Exit</button>
</div>
<div>
  <button (click)="increaseCounter()">Increase</button>
  <button (click)="decreaseCounter()">Decrease</button>
</div>
<div *ngxLet="counter$ | async as counter" style="text-align:center">
  <h1>Counter: {{ counter }}</h1>
  <h2 *ngxRepeat="counter; index as i">
    Iteration: {{ i + 1 }} of {{ counter }}
  </h2>
</div>
<router-outlet></router-outlet>
